<h1>List Details</h1>

<p><strong>Name:</strong> <%= @list.name %></p>

<h2>Movies in the List:</h2>
<% @movies_with_comments.each do |movie| %>
  <h3><%= movie.title %></h3>
  <% movie.bookmarks.each do |bookmark| %>
    <p><strong>Comment:</strong> <%= bookmark.comment %></p>
  <% end %>
<% end %>

<p><%= link_to 'Create New Bookmark', new_list_bookmark_path(@list) %></p>

<%= link_to 'Back to Lists', lists_path %>
